/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color:rgb(241, 240, 232);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color:rgb(150, 182, 197);
    color:#333;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
}

/* About section */
#about {
    background-color:rgb(241, 240, 232);
    padding: 40px 0;
    text-align: center;
}

#about img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Skills section */
#skills {
    background-color:rgb(238, 224, 201);
    padding: 40px 0;
    text-align: center;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills li {
    display: inline;
    margin: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

/* Projects section */
#projects {
   
    padding: 40px 0;
}

.project {
    background-color:rgb(241, 240, 232);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project img {
    max-width: 100%;
}

.project h3 {
    font-size: 24px;
    margin-top: 10px;
}

/* Resume section */
#resume {
    background-color:rgb(238, 224, 201);
    padding: 40px 0;
    text-align: center;
}

#resume a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

#resume a:hover {
    background-color: #222;
}

/* Contact section */
#contact {
    padding: 40px 0;
    text-align: center;
    background-color: rgb(173, 196, 206);
    color:#333;
}

#contact p {
    font-size: 18px;
    margin: 10px 0;
}

/* Footer */
footer {
    background-color:rgb(150, 182, 197);
    color:#333;
    text-align: center;
    padding: 20px 0;
}
